<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<title>test</title>

    <link rel="stylesheet" type="text/css" href="/site_media/css/ext-all.css" />
    <link rel="stylesheet" type="text/css" href="/site_media/css/desktop.css" />
    <!-- GC -->
 	<!-- LIBS -->
 	<script type="text/javascript" src="/site_media/js/adapter/ext/ext-base.js"></script>
 	<!-- ENDLIBS -->

    <script type="text/javascript" src="/site_media/js/ext-all-debug.js"></script>

    <!-- DESKTOP -->
    <script type="text/javascript" src="/site_media/js/StartMenu.js"></script>
    <script type="text/javascript" src="/site_media/js/TaskBar.js"></script>
    <script type="text/javascript" src="/site_media/js/Desktop.js"></script>
    <script type="text/javascript" src="/site_media/js/App.js"></script>
    <script type="text/javascript" src="/site_media/js/Module.js"></script>
    <script type="text/javascript" src="/site_media/js/customer_grid.js"></script>
    <script type="text/javascript" src="/site_media/js/mydesktop.js"></script>
    <script type="text/javascript">
  /*  
genderSelector=function(){
  var store = new Ext.data.SimpleStore({
    fields: ['key', 'display'],
    data : [['M', '男'],['F', '女']]
  });
  
  var combo = new Ext.form.ComboBox({
    id: 'gender-selector',
    store: store, // 下拉数据
    displayField:'display', //显示上面的fields中的state列的内容,相当于option的text值
    valueField: 'key', // 选项的值, 相当于option的value值
    mode: 'local', // 必须要,如果为 remote, 则会用ajax获取数据
    triggerAction: 'all', // 点击下拉的时候, all 为展出所有Store中data的数据
    readOnly: true, // 如果设为true,则好像一般的下拉框一样，默认是false,可输入并自动匹配
    emptyText:'请选择...',
    selectOnFocus:true,
    hiddenName: 'genderKey', // 如果有form提交,这个值一定要设置,不然记下选了那个值
    // 生成一个hidden的input,用于存放选中的值, 因为ComboBox是用div和input模拟的，form.submit后取得的是input的值.
  });
  return combo;
}();
*/
      Ext.onReady(function(){
        var store = new Ext.data.SimpleStore({
    fields: ['key', 'des'],
    data : [['M','Man'],['F','Felman']]
});
var combo = new Ext.form.ComboBox({
    store: store,
    displayField:'des',
    typeAhead: true,
    mode: 'local',
    triggerAction: 'all',
    emptyText:'Select a state...',
    selectOnFocus:true,
    applyTo: 'ccb',
    });
      });
    </script>
    
</head>
<body >
<div id="test_div"></div>
<input type="text" id="ccb" size="20"/>
</body>
</html>
