/* CSS Document */

body{
	font-family: Arial,sans-serif;
	color: #333333;
	line-height: 1.166;	
	margin: 0px;
	padding: 0px;
	text-align:center;
	background: #cccccc url(../img/bg_grad.jpg) fixed;
}