/* CSS Document */
/*
#login_div{
margin-left:auto;
margin-right:auto;
height:200px;
width:300px;
margin-top:100px;
border:solid;
border-style:ridge;
text-align:center;
}


#login_div > table{
text-align:center;
width:100%;
margin-top:20px;
}


#div_main{
width:980px;
height:100px;
margin-top:10px;
margin-left:auto;
margin-right:auto;
}


#div_top{
margin-top:10px;
width:980px;
height:100px;
margin-left:auto;
margin-right:auto;
background-color:#339999;

}

 

#div_letf{
width:200px;
height:auto;
float:left;
margin-right:5px;
background-color:#009966;
}

 

#div_content{
width:770px;
height:auto;
background-color:#999933;
}

#div_userInfo{
margin:5px;
border:solid;
border-width:0.2px;
border-color:#666666;
}
*/
#container{
text-align:center; 
}
#menu{
  text-align:left;
}
#menu dd {font-size:18px; line-height:20px;}
#menu li {font-size:18px; line-height:20px;}
#menu dt {font-size:22px; line-height:24px;}
