{% extends 'apps/frontpage/base.html' %}

{%block maincontent%}
<div class='box book'>
  <div class='f-left'>
    <img src='/site_media/img/books/lastTS00252037__.jpg'></img>
  </div>
  <div class='f-left'>
    <table cellspacing="0" cellpadding="0" >
      <tr><td class='right'>Name: </td><td class='left'>jQuery实战</td></tr>
      <tr><td class='right'>Author: </td><td class='left'>Bear Bibeault;Yehuda Katz</td></tr> 
      <tr><td class='right'>Publisher: </td><td class='left'>人民邮电出版社</td></tr>
      <tr><td class='right'>Annotated by: </td><td class='left'>Handle</td></tr>
      <tr><td class='right'>Type: </td><td class='left'>PDF</td></tr>
    </table>
  </div>
</div>
<hr class="noscreen" />
<div class='box book'>
  <div class='f-left'>
    <img src='/site_media/img/books/lastTS00252037__.jpg'></img>
  </div>
  <div class='f-left'>
    <table cellspacing="0" cellpadding="0" >
      <tr><td class='right'>Name: </td><td class='left'>jQuery实战</td></tr>
      <tr><td class='right'>Author: </td><td class='left'>Bear Bibeault;Yehuda Katz</td></tr> 
      <tr><td class='right'>Publisher: </td><td class='left'>人民邮电出版社</td></tr>
      <tr><td class='right'>Annotated by: </td><td class='left'>Handle</td></tr>
      <tr><td class='right'>Type: </td><td class='left'>PDF</td></tr>
    </table>
  </div>
</div>    

{%endblock%}